<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header about-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1 style="color: #e6f2ff;">About</h1>
          <hr class="small">
          <span class="subheading">The idea behind the blog</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>
        The simple idea behind this blog is to learn about Behavior Driven Development (BDD) and Ruby on Rails while build something.
      </p>

      <p>
        In 2016 I started to learn Ruby by a online course an then
        o bought
      </p>
    </div>
  </div>
</div>
