<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header about-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1 style="color: #e6f2ff;">About</h1>
          <hr class="small">
          <span class="subheading">The idea behind the blog</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>
        The simple idea behind this blog is to learn about Behavior Driven Development (BDD)
        and Ruby on Rails while build something real.
      </p>

      <p>
        In 2016 I started to learn Ruby through a online course and move forward to
        learn about the Ruby on Rails framework too.

        After felt in love with this world, I started to look more about the Rails
        way of developing. So I realize that TDD and BDD is super correlated with.

        Then I started to learn about the red-green-refactor cycle and BDD practices through books and
        online courses but I don't wanted to just reproduce what they are doing. I need and want
        to practice this in a more real scenario.

      </p>
    </div>
  </div>
</div>
