<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header about-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1 style="color: #e6f2ff;">About</h1>
          <hr class="small">
          <span class="subheading">The idea behind the blog</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>
        The simple idea behind this blog is to learn Behavior Driven Development (BDD)
        and Ruby on Rails while building something real.
      </p>

      <p>
        In 2016 I started to learn Ruby through an online course and I move on to
        learn about the Ruby on Rails framework too.
      </p>

      <p>
        After felt in love with this world, I started to look more about the Rails
        way of developing and I realized that TDD and BDD is naturally attached with all that.
      </p>

      <p>
        Then I started to learn about the red-green-refactor cycle and BDD practices through books and
        online courses too, but I don't wanted to just reproduce what they are doing. I really want
        to practice this in a more real scenario.
      </p>

      <p>
        So my goal is to keep improving the blog with new features and posts, always practicing the
        red-green-refactor cycle and writing about this new experience.
      </p>
    </div>
  </div>
</div>
