<%= link_to "New Post", new_post_path, id: "new-post-btn" %>
<% @posts.each do |post| %>
  <div>
    <div>
      <%= post.title %>
    </div>
    <div>
      <%= post.content %>
    </div>
  </div>
<% end %>
