<header class="intro-header" style="background-image: url('/assets/home.png')">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-heading">
                  <h1>
                    <%= @post.title %>
                  </h1>
                  <!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
                  <span class="meta">Posted on <%= @post.created_at.strftime("%B %-d, %Y") %>
                    <%= link_to edit_post_path(@post), html_options = {id: 'edit-post'} do %>
                      <span class="glyphicon glyphicon-edit" aria-hidden="true" style="margin-left: 2px;"></span>
                    <% end %>
                  </span>

              </div>
          </div>
      </div>
  </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div style="text-align: justify;">
                  <%= @post.content.html_safe %>
                </div>
            </div>
        </div>
    </div>
</article>
