/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "blog";
 @import "font-awesome";


.login-form {
  max-width: 420px;
  margin: 0 auto;
  font-size: 16px;
  color: #666666;
}

.floating_alert {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5000;
  font-size: 16px;
}
