<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="https://www.linkedin.com/in/karonlewin" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/karonlewin/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Find me at <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p>
        <p class="copyright text-muted">
          <% if user_signed_in? %>
            Signed in as <%= "#{current_user.email}" %>
            <br />
            <%= link_to "New Post", new_post_path, id: "new-post-btn" %>
            -
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</footer>
